/* --------------- Global style & variables --------------- */
*{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Futura, sans-serif;
}

a {
    color: var(--zerance-black);
    text-decoration: none;
}

.text_bold {
    font-weight: 900;
}

.heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: Karla, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

:root {
    --zerance-yellow: #FFCD19;
    --zerance-black: black;
    --zerance-white: white;
}

/* Custom font provided */
@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.ttf");
}

/* --------------- Logo & Header Menu --------------- */

#toggle {
    display: none;
  }

header {
    font-weight: 700;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    height: 100px;
}

.header_img img {
    position: absolute;
    max-height: 45%;
    top: 15px;
    z-index: 2;
}

.header_elements {
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 60px;
}

.header_elements a {
    position: relative;
}

.header_elements a:hover {
   cursor: pointer;
}

.header_elements a::before {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
    background-color: var(--zerance-yellow);
    bottom: -10px;
    transition: .3s width;
}

.header_elements a:hover::before {
    width: 100%;
}

.header_elements a:hover {
    color: var(--zerance-yellow);
}

/* --------------- Banner & Banner content --------------- */

.banner_container {
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.banner_heading {
    color: var(--zerance-black);
}

.banner_title {
    font-size: 4rem;
}

.banner_title>span {
    background: url("../img/underline.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 100%;
}

/* --------------- Portfolio --------------- */

.portfolio_container {
    background-color: var(--zerance-black);
    padding: 5rem 0;
}

.portfolio_heading {
    color: var(--zerance-white);
    text-align: center;
    margin-bottom: 4rem;
}

.portfolio_showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4rem;
    align-items: center;
    max-width: 1400px;
    width: 80%;
    margin: auto;
}

.portfolio_showcase a {
    margin: auto;
}

.portfolio_showcase img {
    max-width: 150px;
    max-height: 100%;
    margin: auto;
}

/* --------------- Slider --------------- */


.swiper {
    max-height: 70vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--zerance-white);
    height: 70vh!important;
    width: 92%!important;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex!important;
    justify-content: flex-end;
    align-items: center;
    
}

.swiper-button-next {
    margin-right: 10%;
}

.swiper-button-next:after {
    color: #424242;
}

.slide_joone {
    background-image: url('../img/slide/Artboard_2.jpg');
}

.slide_seasonly {
    background-image: url('../img/slide/Artboard_1.jpg');
}

.slider_showmore{
    background-image: url('../img/underline.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
    width: fit-content;
    margin: auto;
}
.slider_showmore:hover{
    font-style: italic;
}

.slider_content {
    margin-right: 10%;
    padding: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--zerance-white);
    color: var(--zerance-black);
}
.slider_img{
width: 250px;
margin: auto;
}
.slider_text{
    font-family: Karla, sans-serif;
}

/* --------------- Infinite Text --------------- */

.infinite_container {
    display: flex;
    background-color: var(--zerance-yellow);
    overflow: hidden;
    height: 100px;
    align-items: center;
}

.infinite_text{
    font-size: 3rem;
    font-family: sans-serif;
    color: var(--zerance-white);
    white-space: nowrap;
    animation: infiniteloop 15s infinite linear;
}

.infinite_text:after{
    content: "/ Frédéric Diefental / Good cat Bad cat / Quand c’est trop, c’est Tropico / Qu’est ce qui est jaune et qui attend ?";
}

@keyframes infiniteloop{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}

/* --------------- Contact --------------- */


.contact_btn{
    z-index: 1;
    background-color: var(--zerance-yellow);
    background-image: url(../img/chat-icon.png);
    background-size: 70%;
    box-shadow: 2px 2px 7px 0px rgb(0 0 0 / 35%);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.contact_btn:hover{
    cursor: pointer;
}
.contact_overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    animation: fade-in 0.3s ease forwards;
}
.contact_container{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(254,249,249,1) 77%, var(--zerance-yellow) 36%, var(--zerance-yellow) 100%);
    border: 1px solid #e9e9e9;
    width: 330px;
    height: 480px;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 100px;
    padding: 20px;
}

.contact_heading{
    font-family: Karla, sans-serif;
    color: var(--zerance-white);
}
.contact_form {
    height: 70%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    border-left: 6px solid var(--zerance-yellow);
    background-color: var(--zerance-white);
}
.contact_form input {
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    line-height: 30px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}
.contact_form textarea {
    resize: none;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    font-size: 1rem;
    line-height: 30px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}
.contact_form button {
    background-color: var(--zerance-yellow);
    color: var(--zerance-black);
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1rem;
}
.contact_form button:hover{
    cursor: pointer;
}
.contact_popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    animation: fade-in 0.3s ease forwards;
  }
  
  .contact_popup_container {
    border-radius: 5px;
    background-color: var(--zerance-white);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #e9e9e9;
    border-left: 6px solid var(--zerance-yellow);
    width: 80%;
    text-align: center;
  }
  
  .contact_popup_close {
    color: var(--zerance-black);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .contact_container_close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    color: var(--zerance-yellow);
    font-size: 28px;
    font-weight: bold;
    background-color:var(--zerance-white);
    text-align: center;
    line-height: 30px;
    border-radius: 40px;
    box-shadow: 2px 2px 7px 0px rgb(0 0 0 / 35%);
}
.contact_container_close:hover{
    cursor: pointer;
}

  .contact_popup_close:hover,
  .contact_popup_close:focus {
    color: var(--zerance-black);
    text-decoration: none;
    cursor: pointer;
  }
  .contact_popup_subtitle{
    font-family: Karla, sans-serif;
  }
  #contact_popup_gender{
    font-family: Futura, sans-serif;
    font-size: 1.4rem;
    background-image: url('../img/underline.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 100%;
    width: fit-content;
    margin: auto;
  }

  @keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}